<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Vaadin Tuning DateField Demo</display-name>
	<description>Vaadin Tuning DateField Demo</description>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<context-param>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>DemoServlet</servlet-name>
		<servlet-class>org.vaadin.addons.tuningdatefield.demo.DemoWebAppInitializer$MyServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>tuning-datefield</param-value>
		</init-param>
		<init-param>
			<param-name>UIProvider</param-name>
			<param-value>org.vaadin.addons.tuningdatefield.demo.TuningDateFieldUIProvider</param-value>
		</init-param>
		<init-param>
			<param-name>widgetset</param-name>
			<param-value>org.vaadin.addons.tuningdatefield.demo.widgetset.TuningDateFieldDemoWidgetset</param-value>
		</init-param>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>DemoServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>


</web-app>